<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.thymeleaf.org ">
<head>
    <meta charset="UTF-8">
    <title>New Person</title>
</head>
<body style="background: #74e890">
<h2 style="text-align: center">Add New Persone</h2>
<br/>
<form th:method="POST" th:action="@{/people}" th:object="${person}">
  <label for="name">Enter Name</label>
  <input type="text" th:field="*{name}" id="name"/>
  <p style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Error</p>
  <br/>
  <br/>
  <br/>
    <label for="age">Enter Age</label>
    <input type="text" th:field="*{age}" id="age"/>
   <p style="color: red" th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Error</p>

  <br/>
    <br/>
    <br/>
    <label for="email">Enter Email</label>
    <input type="text" th:field="*{email}" id="email"/>
  <p style="color: red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Error</p>
  <br/>
    <br/>
    <hr/>
    <input type="submit" value="Create New Persone"/>
</form>

</body>
</html>